a {
    /*text-decoration: none;*/
    color: darkmagenta;
}

a:hover {
    color: green;
}

/*右侧栏*/
.home-right-bar {
    position: fixed;
    width: 84px;
    height: 562px;
    bottom: 70px;
    right: 0;
    top: 100px;
    text-align: center;
    /*background-color: #FFFFFF;*/
    z-index: 999999
}

/*图标区域*/
.home-right-bar .bar-sort1{
    width: 82px;
    height: 90px;
    margin: 0 auto;
    border: 1px solid #f5f5f5;
    background-color: #FFFFFF;
}

/*手机APP*/
.home-right-bar .bar-sort1 .pop-content {
    display: none;
    position: relative;
    width: 100px;
    height: 146px;
    margin-left: -145px;
    margin-top: -77px;
    padding: 14px;
    background-color: #FFFFFF;
    color: #757575;
    border: 1px solid #f5f5f5;
    text-align: center;
}

.home-right-bar .bar-sort1 .pop-content img{
    width: 100px;
    height: 100px;
}

.home-right-bar .bar-sort1 .pop-content:after {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    content: "";
    width: 15px;
    height: 90px;
}

.home-right-bar .bar-sort2{
    width: 82px;
    height: 90px;
    margin: 0 auto;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    background-color: #FFFFFF;
}

.home-right-bar a{
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    text-decoration: none;
    display: block;
    width: 82px;
    height: 90px;
    margin: 0 auto;
    color: #757575;

}

.home-right-bar a:hover {
    color: #ff6700
}

.home-right-bar i{
    display: block;
    padding-top: 10px;
    font-size: 30px
}

/*回到顶部*/
.home-right-bar .bar-sort3{
    display: none;
    width: 82px;
    height: 90px;
    margin: 14px auto 0;
    border: 1px solid #f5f5f5;
    background-color: #FFFFFF;
}
